body {
	background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
}
.color-button {
	color: #88acaf;
}

.color-bg {
	background-color: #f4e6e6;
}

.card-shadow:hover {
	box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253);
}

.zoom {
	padding: 10px;
	transition: transform 0.2s; /* Animation */
	width: 300px;
	height: max;
}

.zoom:hover {
	transform: scale(1.1);
}

.img-hover-zoom {
	height: 300px; /* [1.1] Set it as per your need */
	overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
	transition: transform 0.7s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
	transform: scale(1.2);
}